.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
}

.baloon {

}

.speach {
  font-size: 25px;
}

.bowser {
  width: 200px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {

}